html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden; /* changed from visible to hidden to get rid of the default scrolling functionality */
  background: #333;
}

#slides {
  width: 100%; height: 100%;
  white-space: nowrap; /* the #slides container requires that none of its .slide children wrap */
  font-size: 0; /* removes any gaps between the slides when displayed horizontally */
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slide {
  width: 100%; height: 100%;
  display: inline-block;
  background-size: cover; /* makes sure that the slide's background covers the entire element, regardless of its width and height */
}

/* tells WebKit to animate all of its properties using the ease-out path over 300 milliseconds */
.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* here we specify different dimensions in order to get different images */
.slide:nth-child(1) { background: url(http://placekitten.com/640/480);}
.slide:nth-child(2) { background: url(http://placekitten.com/641/480);}
.slide:nth-child(3) { background: url(http://placekitten.com/642/480);}
.slide:nth-child(4) { background: url(http://placekitten.com/643/480);}
.slide:nth-child(5) { background: url(http://placekitten.com/644/480);}